{% extends "layouts/main.html" %}

{% set STORE_ID       = DATA is defined and DATA.store_id         ? DATA.store_id         : '' %}
{% set NAME           = DATA is defined and DATA.name             ? DATA.name             : '' %}
{% set RESPONSIBLE    = DATA is defined and DATA.responsible      ? DATA.responsible      : '' %}
{% set EMAIL          = DATA is defined and DATA.email            ? DATA.email            : '' %}
{% set PHONE          = DATA is defined and DATA.phone            ? DATA.phone            : '' %}
{% set BRAND_LOGO     = DATA is defined and DATA.brand_logo       ? DATA.brand_logo       : '' %}
{% set PLATFORM       = DATA is defined and DATA.platform_version ? DATA.platform_version : '' %}
{% set REPOSITORY     = DATA is defined and DATA.repository       ? DATA.repository       : '' %}
{% set URL_LOCAL      = DATA is defined and DATA.url_local        ? DATA.url_local        : '' %}
{% set URL_SANDBOX    = DATA is defined and DATA.url_sandbox      ? DATA.url_sandbox      : '' %}
{% set URL_PRODUCTION = DATA is defined and DATA.url_production   ? DATA.url_production   : '' %}
{% set LINK           = URL_BASE ~ '/admin/stores.php?action=delete&id=' ~ STORE_ID %}


{% use "templates/components/alert-message/alert.html.twig" %}
{% use "templates/components/modal-form/modal.html.twig" %}


{% block title %} {{ TITLE }} {% endblock %}


{% block head %} 
    {{ parent() }}

{% endblock %}


{% block content %}
    {% block alert_message %}
        {{ parent() }}
    {% endblock %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="javascript:history.go(-1)" class="btn btn-warning mb-2" title="Voltar para a página anterior">
                        <i class="mdi mdi-18px mdi-arrow-u-left-top"></i>
                        <b>Voltar</b>
                    </a>
                    {% block button_modal_form %}
                        {{ parent() }}
                    {% endblock %}
                </div>
                <h4 class="page-title">{{ TITLE }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="col-12" action="{{ URL_BASE ~ '/admin/stores.php?action=' ~ FORM_ACTION }}" method="post" name="storeManagementForm" id="storeManagementForm" enctype="multipart/form-data">
                        <input type="hidden" name="data[store_id]" id="store_id" value="{{ STORE_ID }}" />

                        <div class="mb-2 row">
                            <label for="name" class="col-3 form-label text-end required">Nome</label>
                            <div class="col-6">
                                <input type="text" class="form-control" name="data[name]" id="name" value="{{ NAME }}" placeholder="" autocomplete="off" required />
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="responsible" class="col-3 form-label text-end required">Responsável</label>
                            <div class="col-6">
                                <input type="text" class="form-control" name="data[responsible]" id="responsible" value="{{ RESPONSIBLE }}" placeholder="" autocomplete="off" required />
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="email" class="col-3 form-label text-end required">E-mail</label>
                            <div class="col-6">
                                <input type="email" class="form-control" name="data[email]" id="email" value="{{ EMAIL }}" placeholder="" autocomplete="off" required />
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="phone" class="col-3 form-label text-end">Contato</label>
                            <div class="col-6">
                                <input type="tel" class="form-control" name="data[phone]" id="phone" value="{{ PHONE }}" placeholder="" autocomplete="off" />
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="brand_logo" class="col-3 form-label text-end">Logomarca</label>
                            <div class="col-6">
                                <div class="mb-3">
                                    <input type="file" name="brand_logo" id="brand_logo" class="form-control" value="{{ BRAND_LOGO }}" />
                                    {% if BRAND_LOGO %}
                                        <img src="{{ URL_BASE ~ '/' ~ BRAND_LOGO }}" alt="{{ NAME }}" class="rounded-2 mt-2" width="120" />
                                        <div class="form-check form-switch mt-1">
                                            <input type="checkbox" class="form-check-input" name="data[logomarca_remove]" id="logomarca_remove" />
                                            <label class="form-check-label" for="logomarca_remove"><small>Deseja excluir o arquivo da logomarca atual?</small></label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="platform_version" class="col-3 form-label text-end">Plataforma</label>
                            <div class="col-6">
                                <select class="form-select" name="data[platform_version]" id="platform_version">
                                    <option value="">Selecione a versão da plataforma</option>
                                    <option value="M1" {{ PLATFORM == 'M1' ? 'selected' : '' }}>Magento 1</option>
                                    <option value="M2" {{ PLATFORM == 'M2' ? 'selected' : '' }}>Magento 2</option>
                                </select>
                            </div>
                            <div class="col-3"></div>
                        </div>

                        <div class="mb-2 row">
                            <label for="repository" class="col-3 form-label text-end">Repositório</label>
                            <div class="col-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">https://</span>
                                    <input type="text" class="form-control" name="data[repository]" id="repository" value="{{ REPOSITORY }}" placeholder="" autocomplete="off" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <div class="col-3">
                                {% if REPOSITORY %}
                                <a href="{{ 'https://' ~ REPOSITORY }}" class="mt-auto" target="_blank"><i class="mdi mdi-18px mdi-link"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label for="url_local" class="col-3 form-label text-end">Link da loja local</label>
                            <div class="col-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">https://</span>
                                    <input type="text" class="form-control" name="data[url_local]" id="url_local" value="{{ URL_LOCAL }}" placeholder="" autocomplete="off" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <div class="col-3">
                                {% if URL_LOCAL %}
                                <a href="{{ 'https://' ~ URL_LOCAL }}" class="mt-auto" target="_blank"><i class="mdi mdi-18px mdi-link"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label for="url_sandbox" class="col-3 form-label text-end">Link da loja em sandbox</label>
                            <div class="col-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">https://</span>
                                    <input type="text" class="form-control" name="data[url_sandbox]" id="url_sandbox" value="{{ URL_SANDBOX }}" placeholder="" autocomplete="off" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <div class="col-3">
                                {% if URL_SANDBOX %}
                                <a href="{{ 'https://' ~ URL_SANDBOX }}" class="mt-auto" target="_blank"><i class="mdi mdi-18px mdi-link"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label for="url_production" class="col-3 form-label text-end">Link da loja em produção</label>
                            <div class="col-6">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">https://</span>
                                    <input type="text" class="form-control" name="data[url_production]" id="url_production" value="{{ URL_PRODUCTION }}" placeholder="" autocomplete="off" aria-describedby="basic-addon1" />
                                </div>
                            </div>
                            <div class="col-3">
                                {% if URL_PRODUCTION %}
                                <a href="{{ 'https://' ~ URL_PRODUCTION }}" class="mt-auto" target="_blank"><i class="mdi mdi-18px mdi-link"></i></a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-3 form-label text-end"></label>
                            <div class="col-6">
                                <a href="{{ 'https://' ~ URL_PRODUCTION ~ '/vendor/composer/installed.json' }}" class="mb-4 me-2" target="_blank">Visualizar módulos instalados em produção</a>
                            </div>
                        </div>
                        
                        <div class="mb-2 row">
                            <label for="" class="col-3 form-label"></label>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary">
                                    <i class="mdi mdi-18px mdi-content-save"></i>
                                    <b>Salvar</b>
                                </button>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block modal %}
    {% block dialog_modal_form %}
        {{ parent() }}
    {% endblock %}
{% endblock %}


{% block javascript %}
    {{ parent() }}
    
    {% block js_modal_form %}
        {{ parent() }}
    {% endblock %}
{% endblock %}