{% extends "layouts/main.html" %}


{% use "templates/components/alert-message/alert.html.twig" %}


{% block title %} {{ TITLE }} {% endblock %}


{% block head %} 
    {{ parent() }}
{% endblock %}


{% block css %}
    <!-- Select2 css -->
    <link href="{{ URL_BASE ~ '/views/admin/assets/css/select2.min.css' }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
    {% block alert_message %} {{ parent() }} {% endblock %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="javascript:history.go(-1)" class="btn btn-warning mb-2" title="Voltar para a página anterior">
                        <i class="mdi mdi-18px mdi-arrow-u-left-top"></i>
                        <b>Voltar</b>
                    </a>
                </div>
                <h4 class="page-title">{{ TITLE }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="col-12" action="{{ URL_BASE ~ '/admin/stores.php?action=' ~ FORM_ACTION }}" method="post" name="storeManagementForm" id="storeManagementForm" enctype="multipart/form-data">
                        <div class="mb-2 row">
                            <div class="col-6">
                                <label for="name" class="form-label required">Nome da loja</label>
                                <div class="input-group">
                                    <select name="data[name]" id="name" class="form-control select2" data-toggle="select2">
                                        <option value="">Selecione uma loja</option>
                                        {% for store in STORES_SELECT_OPT %}                                        
                                        <option value="{{ store }}">{{ store }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                <label for="name" class="form-label"></label>
                                <div class="input-group">
                                    <button type="submit" class="btn btn-danger mt-1" title="Voltar para a página anterior">
                                        <i class="mdi mdi-18px mdi-trash-can-outline"></i>
                                        <b>Desinstalar</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ URL_BASE ~ '/views/admin/assets/js/demo.products.js' }}"></script>

    <!-- Select2 Js -->
    <script src="{{ URL_BASE ~ '/views/admin/assets/js/select2.min.js' }}"></script>
{% endblock %}